.xmake
build
dialog-1.2-20130523/argv.o
dialog-1.2-20130523/arrows.o
dialog-1.2-20130523/buildlist.o
dialog-1.2-20130523/buttons.o
dialog-1.2-20130523/calendar.o
dialog-1.2-20130523/checklist.o
dialog-1.2-20130523/columns.o
dialog-1.2-20130523/config.log
dialog-1.2-20130523/config.status
dialog-1.2-20130523/dialog
dialog-1.2-20130523/dialog-config
dialog-1.2-20130523/dialog.o
dialog-1.2-20130523/dlg_config.h
dialog-1.2-20130523/dlg_keys.o
dialog-1.2-20130523/editbox.o
dialog-1.2-20130523/formbox.o
dialog-1.2-20130523/fselect.o
dialog-1.2-20130523/guage.o
dialog-1.2-20130523/headers-sh
dialog-1.2-20130523/help.o
dialog-1.2-20130523/inputbox.o
dialog-1.2-20130523/inputstr.o
dialog-1.2-20130523/libdialog.a
dialog-1.2-20130523/makefile
dialog-1.2-20130523/menubox.o
dialog-1.2-20130523/mixedform.o
dialog-1.2-20130523/mixedgauge.o
dialog-1.2-20130523/mouse.o
dialog-1.2-20130523/mousewget.o
dialog-1.2-20130523/msgbox.o
dialog-1.2-20130523/pause.o
dialog-1.2-20130523/prgbox.o
dialog-1.2-20130523/progressbox.o
dialog-1.2-20130523/rangebox.o
dialog-1.2-20130523/rc.o
dialog-1.2-20130523/tailbox.o
dialog-1.2-20130523/textbox.o
dialog-1.2-20130523/timebox.o
dialog-1.2-20130523/trace.o
dialog-1.2-20130523/treeview.o
dialog-1.2-20130523/ui_getc.o
dialog-1.2-20130523/util.o
dialog-1.2-20130523/version.o
dialog-1.2-20130523/yesno.o
dialog-1.2-20130523/po/makefile
dialog-1.2-20130523/po/makefile.in
dialog-1.2-20130523/po/POTFILES
ncurses-6.0/config.log
ncurses-6.0/config.status
ncurses-6.0/edit_man.sh
ncurses-6.0/headers.sh
ncurses-6.0/Makefile
ncurses-6.0/form/Makefile
ncurses-6.0/include/config.h
ncurses-6.0/include/curses.h
ncurses-6.0/include/curses.head
ncurses-6.0/include/eti.h
ncurses-6.0/include/form.h
ncurses-6.0/include/hashsize.h
ncurses-6.0/include/Makefile
ncurses-6.0/include/menu.h
ncurses-6.0/include/mf_common.h
ncurses-6.0/include/MKterm.h.awk
ncurses-6.0/include/ncurses_cfg.h
ncurses-6.0/include/ncurses_def.h
ncurses-6.0/include/ncurses_dll.h
ncurses-6.0/include/panel.h
ncurses-6.0/include/parametrized.h
ncurses-6.0/include/term.h
ncurses-6.0/include/termcap.h
ncurses-6.0/include/unctrl.h
ncurses-6.0/lib/libformw.a
ncurses-6.0/lib/libmenuw.a
ncurses-6.0/lib/libncursesw.a
ncurses-6.0/lib/libpanelw.a
ncurses-6.0/lib/libticw.a
ncurses-6.0/lib/libtinfow.a
ncurses-6.0/man/ncursesw6-config.1
ncurses-6.0/menu/Makefile
ncurses-6.0/misc/formw.pc
ncurses-6.0/misc/gen-pkgconfig
ncurses-6.0/misc/Makefile
ncurses-6.0/misc/menuw.pc
ncurses-6.0/misc/ncurses-config
ncurses-6.0/misc/ncursesw.pc
ncurses-6.0/misc/panelw.pc
ncurses-6.0/misc/pc-files
ncurses-6.0/misc/run_tic.sed
ncurses-6.0/misc/run_tic.sh
ncurses-6.0/misc/terminfo.tmp
ncurses-6.0/misc/ticw.pc
ncurses-6.0/misc/tinfow.pc
ncurses-6.0/ncurses/codes.c
ncurses-6.0/ncurses/comp_captab.c
ncurses-6.0/ncurses/expanded.c
ncurses-6.0/ncurses/fallback.c
ncurses-6.0/ncurses/init_keytry.h
ncurses-6.0/ncurses/keys.list
ncurses-6.0/ncurses/lib_gen.c
ncurses-6.0/ncurses/lib_keyname.c
ncurses-6.0/ncurses/link_test.c
ncurses-6.0/ncurses/make_hash
ncurses-6.0/ncurses/make_keys
ncurses-6.0/ncurses/Makefile
ncurses-6.0/ncurses/names.c
ncurses-6.0/ncurses/unctrl.c
ncurses-6.0/objects/access.o
ncurses-6.0/objects/add_tries.o
ncurses-6.0/objects/alloc_entry.o
ncurses-6.0/objects/alloc_ttype.o
ncurses-6.0/objects/captoinfo.o
ncurses-6.0/objects/charable.o
ncurses-6.0/objects/codes.o
ncurses-6.0/objects/comp_captab.o
ncurses-6.0/objects/comp_error.o
ncurses-6.0/objects/comp_expand.o
ncurses-6.0/objects/comp_hash.o
ncurses-6.0/objects/comp_parse.o
ncurses-6.0/objects/comp_scan.o
ncurses-6.0/objects/db_iterator.o
ncurses-6.0/objects/define_key.o
ncurses-6.0/objects/doalloc.o
ncurses-6.0/objects/entries.o
ncurses-6.0/objects/expanded.o
ncurses-6.0/objects/fallback.o
ncurses-6.0/objects/fld_arg.o
ncurses-6.0/objects/fld_attr.o
ncurses-6.0/objects/fld_current.o
ncurses-6.0/objects/fld_def.o
ncurses-6.0/objects/fld_dup.o
ncurses-6.0/objects/fld_ftchoice.o
ncurses-6.0/objects/fld_ftlink.o
ncurses-6.0/objects/fld_info.o
ncurses-6.0/objects/fld_just.o
ncurses-6.0/objects/fld_link.o
ncurses-6.0/objects/fld_max.o
ncurses-6.0/objects/fld_move.o
ncurses-6.0/objects/fld_newftyp.o
ncurses-6.0/objects/fld_opts.o
ncurses-6.0/objects/fld_pad.o
ncurses-6.0/objects/fld_page.o
ncurses-6.0/objects/fld_stat.o
ncurses-6.0/objects/fld_type.o
ncurses-6.0/objects/fld_user.o
ncurses-6.0/objects/free_ttype.o
ncurses-6.0/objects/frm_cursor.o
ncurses-6.0/objects/frm_data.o
ncurses-6.0/objects/frm_def.o
ncurses-6.0/objects/frm_driver.o
ncurses-6.0/objects/frm_hook.o
ncurses-6.0/objects/frm_opts.o
ncurses-6.0/objects/frm_page.o
ncurses-6.0/objects/frm_post.o
ncurses-6.0/objects/frm_req_name.o
ncurses-6.0/objects/frm_scale.o
ncurses-6.0/objects/frm_sub.o
ncurses-6.0/objects/frm_user.o
ncurses-6.0/objects/frm_win.o
ncurses-6.0/objects/fty_alnum.o
ncurses-6.0/objects/fty_alpha.o
ncurses-6.0/objects/fty_enum.o
ncurses-6.0/objects/fty_generic.o
ncurses-6.0/objects/fty_int.o
ncurses-6.0/objects/fty_ipv4.o
ncurses-6.0/objects/fty_num.o
ncurses-6.0/objects/fty_regex.o
ncurses-6.0/objects/getenv_num.o
ncurses-6.0/objects/hardscroll.o
ncurses-6.0/objects/hashed_db.o
ncurses-6.0/objects/hashmap.o
ncurses-6.0/objects/home_terminfo.o
ncurses-6.0/objects/init_keytry.o
ncurses-6.0/objects/key_defined.o
ncurses-6.0/objects/keybound.o
ncurses-6.0/objects/keyok.o
ncurses-6.0/objects/legacy_coding.o
ncurses-6.0/objects/lib_acs.o
ncurses-6.0/objects/lib_add_wch.o
ncurses-6.0/objects/lib_addch.o
ncurses-6.0/objects/lib_addstr.o
ncurses-6.0/objects/lib_baudrate.o
ncurses-6.0/objects/lib_beep.o
ncurses-6.0/objects/lib_bkgd.o
ncurses-6.0/objects/lib_box_set.o
ncurses-6.0/objects/lib_box.o
ncurses-6.0/objects/lib_cchar.o
ncurses-6.0/objects/lib_chgat.o
ncurses-6.0/objects/lib_clear.o
ncurses-6.0/objects/lib_clearok.o
ncurses-6.0/objects/lib_clrbot.o
ncurses-6.0/objects/lib_clreol.o
ncurses-6.0/objects/lib_color.o
ncurses-6.0/objects/lib_colorset.o
ncurses-6.0/objects/lib_cur_term.o
ncurses-6.0/objects/lib_data.o
ncurses-6.0/objects/lib_delch.o
ncurses-6.0/objects/lib_delwin.o
ncurses-6.0/objects/lib_dft_fgbg.o
ncurses-6.0/objects/lib_echo.o
ncurses-6.0/objects/lib_endwin.o
ncurses-6.0/objects/lib_erase.o
ncurses-6.0/objects/lib_erasewchar.o
ncurses-6.0/objects/lib_flash.o
ncurses-6.0/objects/lib_freeall.o
ncurses-6.0/objects/lib_gen.o
ncurses-6.0/objects/lib_get_wch.o
ncurses-6.0/objects/lib_get_wstr.o
ncurses-6.0/objects/lib_getch.o
ncurses-6.0/objects/lib_getstr.o
ncurses-6.0/objects/lib_has_cap.o
ncurses-6.0/objects/lib_hline_set.o
ncurses-6.0/objects/lib_hline.o
ncurses-6.0/objects/lib_immedok.o
ncurses-6.0/objects/lib_in_wch.o
ncurses-6.0/objects/lib_in_wchnstr.o
ncurses-6.0/objects/lib_inchstr.o
ncurses-6.0/objects/lib_initscr.o
ncurses-6.0/objects/lib_ins_wch.o
ncurses-6.0/objects/lib_insch.o
ncurses-6.0/objects/lib_insdel.o
ncurses-6.0/objects/lib_insnstr.o
ncurses-6.0/objects/lib_instr.o
ncurses-6.0/objects/lib_inwstr.o
ncurses-6.0/objects/lib_isendwin.o
ncurses-6.0/objects/lib_kernel.o
ncurses-6.0/objects/lib_key_name.o
ncurses-6.0/objects/lib_keyname.o
ncurses-6.0/objects/lib_leaveok.o
ncurses-6.0/objects/lib_longname.o
ncurses-6.0/objects/lib_mouse.o
ncurses-6.0/objects/lib_move.o
ncurses-6.0/objects/lib_mvcur.o
ncurses-6.0/objects/lib_mvwin.o
ncurses-6.0/objects/lib_napms.o
ncurses-6.0/objects/lib_newterm.o
ncurses-6.0/objects/lib_newwin.o
ncurses-6.0/objects/lib_nl.o
ncurses-6.0/objects/lib_options.o
ncurses-6.0/objects/lib_overlay.o
ncurses-6.0/objects/lib_pad.o
ncurses-6.0/objects/lib_pecho_wchar.o
ncurses-6.0/objects/lib_print.o
ncurses-6.0/objects/lib_printw.o
ncurses-6.0/objects/lib_raw.o
ncurses-6.0/objects/lib_redrawln.o
ncurses-6.0/objects/lib_refresh.o
ncurses-6.0/objects/lib_restart.o
ncurses-6.0/objects/lib_scanw.o
ncurses-6.0/objects/lib_screen.o
ncurses-6.0/objects/lib_scroll.o
ncurses-6.0/objects/lib_scrollok.o
ncurses-6.0/objects/lib_scrreg.o
ncurses-6.0/objects/lib_set_term.o
ncurses-6.0/objects/lib_setup.o
ncurses-6.0/objects/lib_slk_wset.o
ncurses-6.0/objects/lib_slk.o
ncurses-6.0/objects/lib_slkatr_set.o
ncurses-6.0/objects/lib_slkatrof.o
ncurses-6.0/objects/lib_slkatron.o
ncurses-6.0/objects/lib_slkatrset.o
ncurses-6.0/objects/lib_slkattr.o
ncurses-6.0/objects/lib_slkclear.o
ncurses-6.0/objects/lib_slkcolor.o
ncurses-6.0/objects/lib_slkinit.o
ncurses-6.0/objects/lib_slklab.o
ncurses-6.0/objects/lib_slkrefr.o
ncurses-6.0/objects/lib_slkset.o
ncurses-6.0/objects/lib_slktouch.o
ncurses-6.0/objects/lib_termcap.o
ncurses-6.0/objects/lib_termname.o
ncurses-6.0/objects/lib_tgoto.o
ncurses-6.0/objects/lib_ti.o
ncurses-6.0/objects/lib_touch.o
ncurses-6.0/objects/lib_tparm.o
ncurses-6.0/objects/lib_tputs.o
ncurses-6.0/objects/lib_trace.o
ncurses-6.0/objects/lib_tstp.o
ncurses-6.0/objects/lib_ttyflags.o
ncurses-6.0/objects/lib_twait.o
ncurses-6.0/objects/lib_unget_wch.o
ncurses-6.0/objects/lib_ungetch.o
ncurses-6.0/objects/lib_vid_attr.o
ncurses-6.0/objects/lib_vidattr.o
ncurses-6.0/objects/lib_vline_set.o
ncurses-6.0/objects/lib_vline.o
ncurses-6.0/objects/lib_wacs.o
ncurses-6.0/objects/lib_wattroff.o
ncurses-6.0/objects/lib_wattron.o
ncurses-6.0/objects/lib_winch.o
ncurses-6.0/objects/lib_window.o
ncurses-6.0/objects/lib_wunctrl.o
ncurses-6.0/objects/m_attribs.o
ncurses-6.0/objects/m_cursor.o
ncurses-6.0/objects/m_driver.o
ncurses-6.0/objects/m_format.o
ncurses-6.0/objects/m_global.o
ncurses-6.0/objects/m_hook.o
ncurses-6.0/objects/m_item_cur.o
ncurses-6.0/objects/m_item_nam.o
ncurses-6.0/objects/m_item_new.o
ncurses-6.0/objects/m_item_opt.o
ncurses-6.0/objects/m_item_top.o
ncurses-6.0/objects/m_item_use.o
ncurses-6.0/objects/m_item_val.o
ncurses-6.0/objects/m_item_vis.o
ncurses-6.0/objects/m_items.o
ncurses-6.0/objects/m_new.o
ncurses-6.0/objects/m_opts.o
ncurses-6.0/objects/m_pad.o
ncurses-6.0/objects/m_pattern.o
ncurses-6.0/objects/m_post.o
ncurses-6.0/objects/m_req_name.o
ncurses-6.0/objects/m_scale.o
ncurses-6.0/objects/m_spacing.o
ncurses-6.0/objects/m_sub.o
ncurses-6.0/objects/m_userptr.o
ncurses-6.0/objects/m_win.o
ncurses-6.0/objects/name_match.o
ncurses-6.0/objects/names.o
ncurses-6.0/objects/nc_panel.o
ncurses-6.0/objects/obsolete.o
ncurses-6.0/objects/p_above.o
ncurses-6.0/objects/p_below.o
ncurses-6.0/objects/p_bottom.o
ncurses-6.0/objects/p_delete.o
ncurses-6.0/objects/p_hidden.o
ncurses-6.0/objects/p_hide.o
ncurses-6.0/objects/p_move.o
ncurses-6.0/objects/p_new.o
ncurses-6.0/objects/p_replace.o
ncurses-6.0/objects/p_show.o
ncurses-6.0/objects/p_top.o
ncurses-6.0/objects/p_update.o
ncurses-6.0/objects/p_user.o
ncurses-6.0/objects/p_win.o
ncurses-6.0/objects/panel.o
ncurses-6.0/objects/parse_entry.o
ncurses-6.0/objects/read_entry.o
ncurses-6.0/objects/read_termcap.o
ncurses-6.0/objects/resizeterm.o
ncurses-6.0/objects/safe_sprintf.o
ncurses-6.0/objects/strings.o
ncurses-6.0/objects/tries.o
ncurses-6.0/objects/trim_sgr0.o
ncurses-6.0/objects/tty_update.o
ncurses-6.0/objects/unctrl.o
ncurses-6.0/objects/use_screen.o
ncurses-6.0/objects/use_window.o
ncurses-6.0/objects/varargs.o
ncurses-6.0/objects/version.o
ncurses-6.0/objects/visbuf.o
ncurses-6.0/objects/vsscanf.o
ncurses-6.0/objects/wresize.o
ncurses-6.0/objects/write_entry.o
ncurses-6.0/panel/Makefile
